name: CD

on:
  push:
    branch: main

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Trigger Render Deploy
        run: curl -X POST ${{ secrets.RENDER_DEPLOY_HOOK }}
