name: CD

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    needs: build
    runs-on: ubuntu-latest
    enviroment: production

    steps:
      - name: Trigger Render Deploy
        uses:render-inc/deploy-action@v1
        with:
          serviceId: ${{ secrets.RENDER_SERVICE_ID }}
          apiKey: ${{ secrets.RENDER_API_KEY }}