name: Deploy Producción

on:
  push:
    tags:
      - 'v1.0.0'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Deploy
        run: |
          echo "Deploy versión $GITHUB_REF"
          ./deploy.sh
